/* DEBUG ONLY */
*:hover {
	/* border: 1px solid red; */
}

:root {
	--off-white: #EDEDED;
	--dark-blue: #213A52;
	--sans-font: 'Inter', system-ui, Helvetica, Arial, sans-serif;
	--mono-font: 'Inconsolata', 'Consolas', monospace;
}

body {
	background-color: var(--off-white);
	margin: 0 auto;
}

.style-transition {
	transition: all 0.5s ease;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1vh 30vw;
	border-top: medium solid var(--dark-blue);
	border-bottom: medium solid var(--dark-blue);
	margin-top: 2vh;
}

.navbar__link {
	font-family: var(--sans-font);
	font-size: 0.9em;
	color: black;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.navbar--toggle {
	background-color: var(--dark-blue);
	color: var(--off-white);
	padding: 0.5em;
	border: none;

	&:hover {
		cursor: pointer;
	}
}

/* Homepage styles */

.home {
	height: 60vh;
	display: grid;
	gap: 2em;
	grid-template-columns: 2fr 1fr;
	justify-items: center;
	max-width: 60vw;
	margin: 1em auto;
}

.intro {
	margin: 2em 0;
}

.intro__name {
	font-family: var(--sans-font);
	font-size: 2em;
	color: var(--dark-blue);
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.intro__text {
	font-family: var(--mono-font);
}

.intro__text--link {
	color: var(--dark-blue);
}

.embark {
	background-color: var(--dark-blue);
	color: var(--off-white);
	text-decoration: none;
	max-width: 15em;
	min-width: 10em;
	/* min-height: 4em; */
	width: 30%;
	display: grid;
	place-items: center;
	grid-template-columns: 3fr 1fr;
	padding: 0.3em 0.5em;
	border: medium solid var(--dark-blue);
	margin: 2.5em 0;
	transition: all 0.2s ease;

	&:hover {
		background-color: var(--off-white);
		color: black;
	}
}

.embark__text {
	font-family: var(--mono-font);
	padding: 0;
	margin: 0;
}

.embark__arrow {
	font-size: 1.5em;
	font-weight: bold;
	padding: 0;
	margin: 0;
}

.info {
	background-color: var(--dark-blue);
}

.info__headshot {
	display: grid;
	place-items: center;
	aspect-ratio: 1;
	overflow: hidden;
	border-radius: 50%;
	width: 80%;
	margin: 2em auto;
}

.info__img {
	width: 110%;
}

.info__contact {
	display: grid;
	gap: 0.5em;
	place-items: center;
	margin: 1em 0;
}

.info__link {
	font-family: var(--mono-font);
	color: var(--off-white);
	font-style: normal;
}

/* Resume page styles */

.qualifications {
	max-width: 80vw;
	display: grid;
	gap: 2em;
	grid-template-columns: 1fr 1fr;
	margin: 2em auto;
}

.resume {
	min-width: 300px;
	max-width: 40vw;
	aspect-ratio: 1.294;
	border: medium solid var(--dark-blue);
}

.resume__img {
	display: block;
	width: 100%;
}

.resume-extra__header {
	font-family: var(--sans-font);
	color: var(--dark-blue);
	text-transform: uppercase;
}

.resume-extra__item {
	font-family: var(--mono-font);
}

/* Portfolio page styles */

.portfolio {
	width: 70vw;
	margin: 2em auto 6em auto;
}

.portfolio__project {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 2em;
	align-items: center;
	text-decoration: none;
	padding: 1em 0;
}

.portfolio__description {
	grid-column: 2;
}

.portfolio__title {
	font-family: var(--sans-font);
	color: var(--dark-blue);
}

.portfolio__text {
	font-family: var(--mono-font);
	color: black;
}

.portfolio__text--link {
	color: var(--dark-blue);
}

/* TODO: add hover effect ("floating" + 3d movement) */
.portfolio__link {
	grid-column: 1;
	position: relative;
	aspect-ratio: 1.75;
	overflow: hidden;
	width: 30vw;
}

.portfolio__img {
	position: absolute;
	top: -100%;
	bottom: -100%;
	width: 100%;
	margin: auto;
}

/* Service page styles */

.service {
	width: 60vw;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2em;
	margin: 2em auto;
}

.service__header {
	font-family: var(--sans-font);
	text-transform: uppercase;
}

.service__text {
	font-family: var(--mono-font);
}

.service__text--link {
	color: var(--off-white);
}

.service__acts {
	color: var(--off-white);
	background-color: var(--dark-blue);
	padding: 0 2em;
}

.service__future {
	padding: 0 2em;
}

.service--blue {
	color: var(--dark-blue);
}

/* AI page styles */

svg {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.ai {
	display: grid;
	place-items: center;
	height: 80vh;
}

.ai__title {
	font-family: var(--sans-font);
	color: black;
}

.ai__prompt {
	font-family: var(--mono-font);
}
