/* DEBUG ONLY */
*:hover {
	/* border: 1px solid red; */
}

:root {
	--off-white: #EDEDED;
	--dark-blue: #213A52;
	/* --midnight-blue: #0A0913; */
	--midnight-blue: #13171f;
	/* --midnight-blue: #1F1E2C; */
	--light-red: #FA4454;
	--sans-font: 'Inter', system-ui, Helvetica, Arial, sans-serif;
	--mono-font: 'Inconsolata', 'Consolas', monospace;
}

body {
	background-color: var(--midnight-blue);
	margin: 0 auto;
}

.style-transition {
	transition: all 0.5s ease;
}

.navbar {
	float: left;
	display: flex;
	flex-direction: column;
	gap: 0.75em;
	width: 7em;
	margin: 4em 2em 2em 2em;
}

.navbar__link {
	color: var(--light-red);
	font-family: var(--sans-font);
	font-size: 1em;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	display: block;

	&:hover {
		text-decoration: underline;
	}
}

.navbar--toggle {
	background-color: var(--light-red);
	color: var(--midnight-blue);
	width: 5em;
	padding: 0.1em;
	border-radius: 5px;
	border: none;

	&:hover {
		cursor: pointer;
	}
}

/* Homepage styles */

.home {
	/* display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: 1fr; */
	max-width: 60vw;
	padding-top: 3em;
	margin: 0 auto;
}

.intro {
	
}

.intro__name {
	font-family: var(--sans-font);
	font-size: 2.5em;
	color: var(--light-red);
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.5em;
	word-spacing: 3em;
	margin: 0;
}

.intro__text {
	font-family: var(--mono-font);
	color: var(--off-white);
	text-align: center;
}

.intro__text--link {
	color: var(--off-white);
}

.embark {
	background-color: var(--light-red);
	color: var(--midnight-blue);
	text-decoration: none;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
	padding: 0.3em 0.5em;
	border: medium solid var(--light-red);
	border-radius: 5px;
	margin: 2.5em 0;
	transition: all 0.2s ease;

	&:hover {
		background-color: var(--midnight-blue);
		color: var(--light-red);
	}
}

.embark__text {
	font-family: var(--mono-font);
	font-weight: bold;
	padding: 0;
	margin: 0;
}

.embark__arrow {
	font-size: 1.5em;
	font-weight: bolder;
	padding: 0;
	margin: 0;
}

.info {
	background-color: var(--dark-blue);
	/* position: absolute; */
	z-index: -1;
	width: 25vw;
	/* top: 0; */
	/* left: 0; */
	/* right: 0; */
	/* margin:  auto; */
}

.info__headshot {
	display: grid;
	place-items: center;
	aspect-ratio: 1;
	overflow: hidden;
	border-radius: 50%;
	width: 80%;
	margin: 2em auto;
}

.info__img {
	width: 110%;
}

.info__contact {
	display: flex;
	justify-content: center;
	gap: 5em;
	margin: 1em 0;
}

.info__link {
	font-family: var(--mono-font);
	color: var(--off-white);
	font-style: normal;
}

/* Resume page styles */

.qualifications {
	display: grid;
	grid-template-rows: 1fr 5fr;
	max-width: 80vw;
	max-height: 150vh;
	margin: 0 auto;
}

.resume {
	grid-row: 2;
	min-width: 300px;
	max-width: 40vw;
	aspect-ratio: 1.294;
	border: medium solid var(--light-red);
	margin: 0 auto;
}

.resume__img {
	display: block;
	width: 100%;
}

.resume-extra {
	grid-row: 1;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2em;
	padding: 2em;
}

.resume-extra__header {
	font-family: var(--sans-font);
	color: var(--light-red);
	text-transform: uppercase;
	text-align: center;
}

.resume-extra__item {
	font-family: var(--mono-font);
	color: var(--off-white);
}

/* Portfolio page styles */

.portfolio {
	width: 70vw;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2em;
	margin: 2em auto 6em auto;
}

.portfolio__project {
	text-decoration: none;
}

.portfolio__description {

}

.portfolio__title {
	font-family: var(--sans-font);
	color: var(--light-red);
	text-align: center;
}

.portfolio__text {
	font-family: var(--mono-font);
	color: var(--off-white);
	text-align: center;
}

.portfolio__text--link {
	color: var(--off-white);
}

/* TODO: add hover effect ("floating" + 3d movement) */
.portfolio__link {
	display: grid;
	place-items: center;
	aspect-ratio: 1.6;
	overflow: hidden;
}

.portfolio__img {
	width: 100%;
}

/* Service page styles */

.service {
	display: grid;
	padding: 3em 20em;
	margin: 0 auto;
}

.service__header {
	font-family: var(--sans-font);
	color: var(--light-red);
	text-transform: uppercase;
	/* letter-spacing: 0.05em; */
}

.service__text {
	font-family: var(--mono-font);
	color: var(--off-white);
}

.service__text--link {
	color: var(--off-white);
}

.service__acts {
	padding: 0 2em;
	border: medium solid var(--light-red);
}

.service__future {
	padding: 0 2em;
}

/* AI page styles */

svg {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.ai {
	display: grid;
	place-items: center;
	height: 80vh;
}

.ai__title {
	font-family: var(--sans-font);
	color: black;
}

.ai__prompt {
	font-family: var(--mono-font);
}
